<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Tests">
    <test verbose="2" preserve-order="true" name="Ecommerce Testing">
        <classes>
            <class name="Tests.MobileTest"/>
            <class name="Tests.SonyTest"/>
            <class name="Tests.CompareTest"/>
            <class name="Tests.CreateAccTest"/>
            <class name="Tests.CartTest"/>
            <class name="Tests.ShareWishlistTest"/>
            <class name="Tests.PurchaseTest"/>
            <class name="Tests.SaveOrderTest"/>
            <class name="Tests.ReorderTest"/>
        </classes>
    </test>
</suite>